@page "/learnblazor/bindprop"
<h3>BindProp</h3>
Name:@Product.Name
<hr />
Product Status:@(Product.IsActive ? "Active" : "InActive")
<br />
IsActive:
<input type="checkbox" @bind="@Product.IsActive" />
<hr />
<input type="number" @bind="@Product.Price" />
<br />
Price:@Product.Price
<br />
<input type="number" @bind="@Product.Price" @bind:event="oninput" />
<br />
<input type="number" @bind-value="@Product.Price" @bind-value:event="oninput" />

<br />
<br />
Product Properties
<select @bind="selectedProp">
    @foreach (var prop in Enum.GetValues(typeof( Days)))
    {
        <option value="@prop">@prop</option>
    }
</select>

<p>@((int)selectedProp)</p>
@code {
    // private string selectedProp = "";
    private Days selectedProp = 0;

    Product Product = new()
        {
            Id = 1,
            Name = "product1",
            IsActive = true,
            Price = 222,

         


        };


}
